<h2>My 20 Year Oscar Hell 2020</h2>

<p>Hi {{ username }}. Thank you for signing up to M20YOH</p>

{{#if franchise }}
<p>You have joined the team: {{ franchise }}</p>
{{/if }}

<p>Your unique code is:</p>
<p><a style="font-size: 2em; font-weight: bold; text-decoration: none; color: #db592e; " href="https://oscars.mxxyqh.com/player/{{ code }}">{{ code }}</a></p>
<p>Click on the code, or here <a href="https://oscars.mxxyqh.com/player/{{ code }}">https://oscars.mxxyqh.com/player/{{ code }}</a> to see your predictions page.</p>

<p>Good luck!</p>

<footer style="width: 100%; border-top: 2px solid #222;">
  <p style="color: #">My 20 Year Oscar Hell v{{ app.version }}</p>
</footer>