<h2>My 20 Year Oscar Hell 2023</h2>

<p>Hi {{ username }}. Thank you for signing up to this year's M20YOH competition.</p>

<p>Your unique code is:</p>
<p><a style="font-size: 2em; font-weight: bold; text-decoration: none; color: #db592e; " href="https://oscars.mxxyqh.com/player/{{ code }}">{{ code }}</a></p>
<p>Click on the code, or here <a href="https://oscars.mxxyqh.com/player/{{ code }}">https://oscars.mxxyqh.com/player/{{ code }}</a> to see your predictions page.</p>

<p>A quick reminder on scoring rules, which will be the same as last year: <code>√(correct predictions/all predictions)</code>, so the fewer correct predictions for a category, the more points are scored.</p>

<footer style="width: 100%; border-top: 2px solid #112;">
  <p style="color: #">My 20 Year Oscar Hell v{{ app.version }}</p>
</footer>