<h2>Signup for 2018 My 20 Year Oscar Hell</h2>

<p>Hi {{ username }}. Thank you for signing up to M20YOH</p>

{{#if franchise }}
<p>You have joined the team: {{ franchise }}</p>
{{/if }}

<p>Your unique code is <a href="https://oscars.mantonbradbury.com/player/{{ code }}"><b>{{ code }}</b></a></p>
<p>Click on the code, or here <a href="https://oscars.mantonbradbury.com/player/{{ code }}"></a> To go to your predictions page.</p>

<footer>
  <p>My 20 Year Oscar Hell (v{{ ver }} - {{ app }})</p>
</footer>