<h2>My 20 Year Oscar Hell 2021</h2>

<p>Hi {{ username }}. Thank you for signing up to this year's M20YOH competition.</p>

{{#if franchise }}
<p>You have joined the team: {{ franchise }}</p>
{{/if }}

<p>Your unique code is:</p>
<p><a style="font-size: 2em; font-weight: bold; text-decoration: none; color: #db592e; " href="https://oscars.mxxyqh.com/player/{{ code }}">{{ code }}</a></p>
<p>Click on the code, or here <a href="https://oscars.mxxyqh.com/player/{{ code }}">https://oscars.mxxyqh.com/player/{{ code }}</a> to see your predictions page.</p>

<p>A quick reminder on scoring rules. Points are shared across all correct predictions, so you are rewarded for outside bets. This year points for correct predictions will be modified to prevent larges scores dominating the overall standings.</p>

<footer style="width: 100%; border-top: 2px solid #222;">
  <p style="color: #">My 20 Year Oscar Hell v{{ app.version }}</p>
</footer>