{{#if data.backdrop }}
<div class="backdrop" style="min-height: 250px; background-image: url({{ tmdb_base_url }}{{ tmdb_backdrop_size }}{{ data.backdrop }}"></div>
{{ else }}
<div class="top-pad">
  
</div>
{{/if }}

<nav class="title row" data-uid="{{ user.id }}" data-cid="{{ cat.id }}">
  <div class="col">
    <a title="⬅️ Key" href="" id="prev">◀ prev</a>
  </div>
  <div class="col">
    {{ data.category }} <span id="predind" style="cursor: help;" title="Prediction made">{{#if img }}✅{{/if }}</span>
  </div>
  <div class="col">
    <a title="Key ➡️" href="" id="next">next ▶</a>
  </div>
</nav>

<div class="row">
  <div class="col-sm">
    <h3>{{ data.category }}</h3>
    {{#if data.winner }}
      <h4>Winner - {{ data.winner }}</h4>
      {{#if data.singular }}
      <p>There was only 1 correct prediction, scoring <em>{{ data.points }}</em></p>
      {{ else }}
      <p>There were {{ data.correct }} correct predictions{{#if data.correct }}, each worth <em>{{ data.points }}</em>{{/if }}</p>
      <img style="max-width: 50%;" src="{{ tmdb_base_url }}{{ tmdb_backdrop_size }}{{ data.poster }}" alt="Poster of {{ data.winner }}">
      {{/if }}
    {{/if }}
  </div>
  <div class="col-sm">
    <figure class="highcharts-figure">
      <div id="container"></div>
    </figure>
  </div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
  $(document).ready(function() {
    var chart = Highcharts.chart('container', {
      chart: {
        type: 'pie'
      },
      title: null,
      credits: { enabled: false },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.y}'
          },
          size: '100%'
        }
      }
    });

    function nav() {
      //$('.image img').prop('src', $('.image').data('default'));
      var prevurl = window.location.pathname.split('/'),
          cur = prevurl.pop(),
          nexturl = JSON.parse(JSON.stringify(prevurl));

      var prevcat = (cur == 1) ? 23 : (cur * 1) - 1,
          nextcat = (cur == 23) ? 1 : (cur * 1) + 1;

      prevurl.push(prevcat);
      nexturl.push(nextcat);
      
      $('#prev').prop('href', prevurl.join('/'));
      $('#next').prop('href', nexturl.join('/'));

    }
    nav();

    // allow cursor key navigation through categories
    window.addEventListener("keydown", function(event) {
      if (event.key == 'ArrowLeft') {
        window.location.href = $("#prev").attr('href');
      } else if (event.key == 'ArrowRight') {
        window.location.href = $("#next").attr('href');
      }
    }, true);

    $.get(`/api/cat/{{ cat }}`).done(function(data) {
      chart.addSeries({
        name: 'Predictions',
        data: data,
        innerSize: '20%'
      })
    })
  })
</script>