<div class="content container">
  <nav id="cat_list" class="title row" data-uid="{{ user.id }}" data-cid="{{ cat.id }}">
    <div class="col">
      <a title="⬅️ Key" href="" class="badge bg-secondary rounded-circle" id="prev"><img src="/img/chevron-left.svg" style="height: 1.7em;" alt="<"></a>
    </div>
    <div class="col">
      &nbsp;
    </div>
    <div class="col">
      <a title="Key ➡️" href="" class="badge bg-secondary rounded-circle align-middle" id="next"><img src="/img/chevron-right.svg" style="height: 1.7em;" alt=">"></a>
    </div>
  </nav>

  <div class="row">
    <div class="col-sm">
      <h2>Best {{ data.category }}</h2>
      {{#if data.winner }}
        <h3>{{ data.winner }} {{#if data.film }}<span>({{ data.film }})</span>{{/if }}</h3>
        <img id="cat_img" style="max-width: 50%;" src="{{ tmdb_base_url }}{{ tmdb_backdrop_size }}{{ data.poster }}" alt="Poster of {{ data.winner }}">
      {{ else }}
        <h3>tba</h3>
      {{/if }}
    </div>
    <div class="col-sm">
      <figure class="highcharts-figure">
        <div id="container"></div>
      </figure>
      <div id="chart-pred-count">
        {{#if data.preds }}
        {{#if data.singular }}
        <p>There was only 1 correct prediction, scoring <em>{{ data.points }}</em></p>
        {{ else }}
        <p>There were {{ data.correct }} correct predictions{{#if data.correct }}, each worth <em>{{ data.points }}</em>{{/if }}</p>
        {{/if }}  
        {{/if }}      
      </div>
    </div>
  </div>  
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script>
  $(document).ready(function() {
    var chart = Highcharts.chart('container', {
      chart: {
        type: 'pie'
      },
      title: null,
      credits: { enabled: false },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: true,
            format: '<b>{point.name}</b>: {point.y}'
          },
          size: '100%'
        }
      }
    });

    function nav() {
      //$('.image img').prop('src', $('.image').data('default'));
      var prevurl = window.location.pathname.split('/'),
          cur = prevurl.pop(),
          nexturl = JSON.parse(JSON.stringify(prevurl));

      var prevcat = (cur == 1) ? 23 : (cur * 1) - 1,
          nextcat = (cur == 23) ? 1 : (cur * 1) + 1;

      prevurl.push(prevcat);
      nexturl.push(nextcat);
      
      $('#prev').prop('href', prevurl.join('/'));
      $('#next').prop('href', nexturl.join('/'));

    }
    nav();

    // allow cursor key navigation through categories
    window.addEventListener("keydown", function(event) {
      if (event.key == 'ArrowLeft') {
        window.location.href = $("#prev").attr('href');
      } else if (event.key == 'ArrowRight') {
        window.location.href = $("#next").attr('href');
      }
    }, true);

    $.get(`/api/cat/{{ cat }}`).done(data => {
      console.log(data);
      if (data.length) {
        chart.addSeries({
          name: 'Predictions',
          data: data,
          innerSize: '20%'
        })
      } else {
        $('#container').html('<div class="chart-no-data">There is no prediction data for this category</div>');
      }
    })
  })
</script>