<div class="content">
  <div id="popup"></div>
  <div class="header" id="header" data-uid="{{ user.id }}" data-cid="{{ cat.id }}">{{ user.username }} - <span id="predcnt"></span>/25</div>
  <nav class="title row">
    <div class="col">
      <a href="" id="prev">◀ prev</a>
    </div>
    <div class="col">
      {{ cat.name }} <span id="predind" style="cursor: help;" title="Prediction made">{{#if img }}✅{{/if }}</span>
    </div>
    <div class="col">
      <a href="" id="next">next ▶</a>
    </div>
  </nav>
  <div class="choices row">
    <div class="selection col">
      <div>
        <p>Last Year: {{ cat.lastyear }}</p>
      </div>
      {{#each data }}
        <div class="nominee {{#if pred }}selected{{/if }}" data-img="{{ image }}" data-nid="{{ nid }}">
          <p>{{ nominee }}{{#if film }}<br /><em>({{ film }})</em>{{/if }}</p>
        </div>
      {{/each}}
      <div class="precursors">
        <h5>Awards season winners:</h5>
        <p>{{{ cat.precursors }}}</p>        
      </div>

    </div>
   
    <div class="image col" data-default="
    {{#if img }}/img/{{ img }}.jpg
    {{else }}
      {{#if cat.class }}
        /img/person.svg
      {{else }}
        /img/camera.svg      
      {{/if }}
    {{/if }}
    ">
      <img class="poster" src="" alt="Poster or portrait of selected nominee" />
    </div>

  </div>
  <div style="padding-top: 2em" class="key precursors">
    <p>GG - Golden Globes, CC - Critics' Choice, BAFTA - British Academy of Film and Television Arts, PGA - Producers' Guild of America, DGA - Directors' Guild of America, SAG - Screen Actor's Guild, Annie - Animation</p>
  </div>
</div>

<style>

  div.header { background-color: #222;}




</style>

<script>
  function nav() {
    $('.image img').prop('src', $('.image').data('default'));
    var prevurl = window.location.pathname.split('/'),
        cur = prevurl.pop(),
        nexturl = JSON.parse(JSON.stringify(prevurl));

    var prevcat = (cur == 1) ? 23 : (cur * 1) - 1,
        nextcat = (cur == 23) ? 1 : (cur * 1) + 1;

    prevurl.push(prevcat);
    nexturl.push(nextcat);
    
    $('#prev').prop('href', prevurl.join('/'));
    $('#next').prop('href', nexturl.join('/'));

  }
  nav();

  $('.nominee').on('mouseenter', function() {
    var img = '/img/' + $(this).data('img') + '.jpg';
    $('.image img').prop('src', img);
  });

  $('.nominee').on('mouseleave', function() {
    $('.image img').prop('src', $('.image').data('default'));
  });

  $('.nominee').on('click', function() {
    if ($(this).hasClass('selected')) return false; // don't send ajax request for something already picked
    var _this = $(this),
        img = '/img/' + _this.data('img') + '.jpg',
        nid = _this.data('nid'),
        cid = $('#header').data('cid'),
        uid = $('#header').data('uid');

    $.ajax({
      url: '/prediction',
      type: 'post',
      data: {
        uid: uid,
        cid: cid,
        nid: nid
      }
    }).done(function(d) {
      if (d) {
        $('.image img').prop('src', img).parent().data('default', img);
        $('.nominee').removeClass('selected');
        _this.addClass('selected');
        $('#predind').html('✅');
        ajaxResult(true);
      } else {
        console.log('Could not save prediction');
        ajaxResult(false);
      }
    }).fail(function(err) {
      console.log('Could not save prediction: ');
      ajaxResult(false);
    })
  })

  function ajaxResult(outcome) {
    var popup = $('#popup'),
        msg = outcome ? 'prediction saved' : 'Could not update prediction',
        cls = outcome ? 'success' : 'failure';

    popup.html(msg).addClass(cls).fadeIn();
    window.setTimeout(function() {
      popup.removeClass(cls).fadeOut();
    }, 1500);
  }

</script>