<div class="content">
  <div id="popup"></div>
  
  <nav class="title row" data-uid="{{ user.id }}" data-cid="{{ cat.id }}">
    <div class="col">
      <a title="⬅️ Key" href="" id="prev">◀ prev</a>
    </div>
    <div class="col">
      {{ cat.name }} <span id="predind" style="cursor: help;" title="Prediction made">{{#if img }}✅{{/if }}</span>
    </div>
    <div class="col">
      <a title="Key ➡️" href="" id="next">next ▶</a>
    </div>
  </nav>

  <div class="choices row">
    <div class="selection col">
      <div class="nominees" style="margin-bottom: 1em;">
        {{#each data }}
          <div class="nominee {{#if pred }}selected{{/if }}" data-img="{{ image }}" data-nid="{{ nid }}">
            <p>{{ nominee }}{{#if film }}<br /><em>({{ film }})</em>{{/if }}</p>
          </div>
        {{/each}}        
      </div>
      <div class="precursors">
        <p>Last Year: {{ cat.lastyear }}</p>
      </div>
      <div class="precursors">
        <h5>Awards season winners:</h5>
        <p>{{{ cat.precursors }}}</p>        
      </div>
    </div>
   
    <div class="image col" data-default="
    {{#if img }}/img/{{ img }}.jpeg
    {{else }}
      {{#if cat.class }}
        /img/person.svg
      {{else }}
        /img/camera.svg
      {{/if }}
    {{/if }}
    ">
      <img class="poster" src="" alt="Poster or portrait of selected nominee" />
    </div>

  </div>
  <div style="padding-top: 2em" class="key precursors">
    <p>GG - Golden Globes, CC - Critics' Choice, BAFTA - British Academy of Film and Television Arts, PGA - Producers' Guild of America, DGA - Directors' Guild of America, SAG - Screen Actor's Guild, Annie - Animation, ISA - Independent Spirit Awards</p>
  </div>
</div>

<style>
  div.header { background-color: #222;}
</style>
