<div class="content container">
  <div id="popup"></div>
  <div class="row">
    <table id="progress" class="" style="width: 100%;">
        <tbody>
          <tr style="height: 0.75em;">
            <td data-pcid="1" title="Best Film" class="cat"><p></p></td>
            <td data-pcid="2" title="Best Actor" class="cat"><p></p></td>
            <td data-pcid="3" title="Best Best Actress" class="cat"><p></p></td>
            <td data-pcid="4" title="Best Supporting Actor" class="cat"><p></p></td>
            <td data-pcid="5" title="Best Supporting Actress" class="cat"><p></p></td>
            <td data-pcid="6" title="Best Animated Film" class="cat"><p></p></td>
            <td data-pcid="7" title="Best Cinematography" class="cat"><p></p></td>
            <td data-pcid="8" title="Best Costume Design" class="cat"><p></p></td>
            <td data-pcid="9" title="Best Director" class="cat"><p></p></td>
            <td data-pcid="10" title="Best Documentary Feature" class="cat"><p></p></td>
            <td data-pcid="11" title="Best Documentary Short" class="cat"><p></p></td>
            <td data-pcid="12" title="Best Film Editing" class="cat"><p></p></td>
            <td data-pcid="13" title="Best International Feature" class="cat"><p></p></td>
            <td data-pcid="14" title="Best Makeup" class="cat"><p></p></td>
            <td data-pcid="15" title="Best Original Score" class="cat"><p></p></td>
            <td data-pcid="16" title="Best Original Song" class="cat"><p></p></td>
            <td data-pcid="17" title="Best Production Design" class="cat"><p></p></td>
            <td data-pcid="18" title="Best Animated Short" class="cat"><p></p></td>
            <td data-pcid="19" title="Best Live Action Short" class="cat"><p></p></td>
            <td data-pcid="20" title="Best Sound" class="cat"><p></p></td>
            <td data-pcid="21" title="Best Visual Effect" class="cat"><p></p></td>
            <td data-pcid="22" title="Best Adapted Screenplay" class="cat"><p></p></td>
            <td data-pcid="23" title="Best Original Screenplay" class="cat"><p></p></td>
          </tr>
        </tbody>
    </table>    
  </div>
  <nav id="pred_list" class="title row" data-uid="{{ user }}" data-cid="{{ cat.id }}">
      
    <div class="col">
      <a title="⬅️ Key" href="" class="badge bg-secondary rounded-circle" id="prev"><img src="/img/chevron-left.svg" style="height: 1.7em;" alt="<"></a>
    </div>
    <div class="col">
      {{ cat.name }} <span id="predind" class="" style="cursor: help;" title="Prediction made">{{#if img }}✅{{/if }}</span>
    </div>
    <div class="col">
      <a title="Key ➡️" href="" class="badge bg-secondary rounded-circle align-middle" id="next"><img src="/img/chevron-right.svg" style="height: 1.7em;" alt=">"></a>
    </div>
  </nav>

  <div class="choices row">
    <div class="selection col">
      <div class="nominees" style="margin-bottom: 1em;">
        {{#each data }}
          <div class="nominee {{#if pred }}selected{{/if }}" data-img="{{ image }}" data-nid="{{ nid }}">
            <p>{{ nominee }}{{#if film }}<br /><em>({{ film }})</em>{{/if }}</p>
          </div>
        {{/each}}        
      </div>
    </div>
   
    <div class="image col" data-default="
    {{#if img }}/img/{{ img }}.jpg
    {{else }}
      {{#if cat.class }}
        /img/person2.svg
      {{else }}
        /img/camera2.svg
      {{/if }}
    {{/if }}
    ">
      <img class="poster" src="" alt="Poster or portrait of selected nominee" />
    </div>

  </div>
  <div class="precursors">
    <p>Last Year: {{ cat.lastyear }}</p>
  </div>
  <div class="precursors">
    <h5>Awards season winners:</h5>
    <p>{{{ cat.precursors }}}</p>        
  </div>
  <div style="padding-top: 2em" class="key precursors">
    <p>GG - Golden Globes, CC - Critics' Choice, BAFTA - British Academy of Film and Television Arts, PGA - Producers' Guild of America, DGA - Directors' Guild of America, SAG - Screen Actor's Guild, Annie - Animation, ISA - Independent Spirit Awards</p>
  </div>
</div>

<style>
  div.header { background-color: #222;}
</style>
