<div class="content container-fluid">
<h2>Leaderboard</h2>

{{#unless expired }}

{{ else }}
<input type="checkbox" class="form-check-input" id="nobots" value="" />
<label class="form-check-label" for="nobot">Exclude bots?</label>
<table class="table" id="results">
  <thead>
    <tr>
      <th>Position</th>
      <th>Player</th>
      <th colspan="2">Score</th>
    </tr>
  </thead>
  <tbody>
    {{#each table.data }}
    <tr {{#if bot }}class="bot"{{/if }}>
      <td class="align-middle {{#if @first }}winner{{/if }}">{{#if @first }}<span class="lead">&#127942;</span>{{ else }}{{ rank }}{{/if}}</td>
      <td class="align-middle {{#if @first }}winner{{/if }}"><a href="/summary/{{ id }}">{{ player }}</a></td>
      <td width="500px">
        <div class="bar" data-len="{{ score }}"></div>
        <div class="bar-arrow"></div>
      </td>
      <td>{{ score }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/unless }}
</div>
