<div class="content container-fluid">
<h2>Leaderboard</h2>

{{#unless expired }}

{{ else }}
<div class="sub-label">
  <input type="checkbox" class="form-check-input" id="nobots" value="" />
  <label class="form-check-label" for="nobot">Exclude bots?</label>  
</div>
<table class="table" id="results">
  <thead>
    <tr>
      <th style="text-align: center;">Position</th>
      <th>Player</th>
      <th colspan="2">Score</th>
    </tr>
  </thead>
  <tbody>
    {{#each table.data }}
    <tr {{#if bot }}class="bot"{{/if }}>
      <td style="text-align: center;" class="align-middle {{#if @first }}winner{{/if }}">{{#if @first }}<span class="lead">&#127942;</span>{{ else }}{{#if bot }}{{>robot }}{{ else }}{{ rank }}{{/if }}{{/if }}</td>
      <td class="{{#if bot }}bot{{/if }} align-middle {{#if @first }}winner{{/if }}"><a href="/summary/{{ id }}">{{ player }}</a></td>
      <td width="500px">
        <div class="bar" data-len="{{ score }}"></div>
        <div class="bar-arrow"></div>
      </td>
      <td class="align-middle">{{ score }}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{/unless }}
</div>
