<div class="content">
  <h2>Total score for {{ username }}: {{ total }}</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>&nbsp;</th>
        <th>Prediction</th>
        <th>Points</th>
        <th>Winner</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each data }}
      <tr class="{{#if pts }}corr{{/if }}">
        <td>
          <div class="wrap"><a href="/category/{{ cid }}">{{ category }}</a></div>
        </td>
        <td>
          <img class="thumb" src="/img/{{ pimage }}.jpg" />
        </td>
        <td>
          <div class="wrap">{{{ prediction }}}</div>
        </td>
        <td>{{#if wimage }}{{ pts }}{{ else }}-{{/if }}</td>
        <td>
          <div class="wrap">{{ winner }}</div>
        </td>
        <td>
          {{#if wimage }}<img class="thumb" src="/img/{{ wimage }}.jpg" />{{/if}}
        </td>
      </tr>
      {{/each }}
    </tbody>
  </table>
</div>
